<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779657608514-l3g1ateoepf5lbmvc27ghr990mui306h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779657608514-l3g1ateoepf5lbmvc27ghr990mui306h</string>
	<key>API_KEY</key>
	<string>AIzaSyD98AA55bj76EowJJ1n5h5qYr_MdVrNgik</string>
	<key>GCM_SENDER_ID</key>
	<string>779657608514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramble.ramble</string>
	<key>PROJECT_ID</key>
	<string>rambleuser</string>
	<key>STORAGE_BUCKET</key>
	<string>rambleuser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779657608514:ios:110d15f1b3163f535e1cdb</string>
	<key>DATABASE_URL</key>
	<string>https://rambleuser.firebaseio.com</string>
</dict>
</plist>